#ashish{
    background-color: rgb(209, 209, 214);

}

.cn {
    border: 2px solid black;
	display: table-cell;
	width: 500px;
	height: 500px;
	vertical-align: middle;
	text-align: center;
}

.inner {
	display: inline-block;
	width: 200px; height: 200px;
}